body {
    margin: 0;
}

h3 {
    text-transform: uppercase;
    color: #1a1616;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    margin-bottom: 45px;
}

h4 {
    text-align: center;
    font-size: 20px;
    color: #bb8b00;
}

p {
    padding: 5px 25px;
    text-align: center;
}

a {
    border: slategrey solid 1px;
    text-decoration: none;
    background-color: #01af60;
    color: #fff;
    padding: 15px 30px;
    transition: 1s;
    letter-spacing: 0.1em;
}

a:hover {
    background-color: #104f30;
}

.wrap {
    display: flex;
    justify-content: space-evenly;
}

.container {
    min-height: 200px;
    width: 250px;
    box-shadow: 2px 2px 2px silver;
    padding-top: 25px;
    padding-bottom: 30px;
}

.icon {
    display: flex;
    justify-content: center;
}

.fa-solid {
    font-size: 30px;
    color: silver;
}

.button {
    display: flex;
    justify-content: center;
}
